.click-here{
    width: 650px;
    height: 350px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 400px;
    padding-bottom:400px;
}

.logo{
    position: relative;
    display: flex;

    
}

body{
    background:linear-gradient(-135deg, #ff9064, #a646e6, #3915a1);
}

.gameContent{
    font-family: 'Audiowide', cursive;
    position: relative;
    padding-left: 430px;
    padding-bottom: 50px;
}



.restart
{
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    padding-top: 50px;  
    margin-left: 30px;
    font-size:20px;
     
}

